<div class="block" style="padding: 0; border-radius:0;">
    <div class="editor">
        <div class="toolbar"></div>
        <div contenteditable="true" name="content" id="content" class="content"></div>
    </div>
</div>